.history-container__people-ava {
  width: 64px;
  height: 64px;
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
  .history-container__people-ava {
    width: 56px;
    height: 56px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .history-container__people-ava {
    width: 48px;
    height: 48px;
  }
}
