@import url(./__text/client__text.css);
@import url(./__title/client__title.css);

.client{
    max-width: 815px;
    margin: 80px auto 94px 104px;
}


@media screen and (min-width: 768px) and (max-width: 1440px) {
    .client{
        margin: 5.5vw auto 6.5vw 7.2vw;
    }
}


@media screen and (min-width: 450px) and (max-width: 768px) {
    .client{
        margin: 30px 40px 50px 40px;
    }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
    .client{
        margin: 16px;
    }
}