@import url(./_valid_off/search-field__input_valid_off.css);


.search-field__input {
  border: none;
  outline: none;
  border-radius: 50px;
  width: 100%;
  height: 64px;
  background: rgb(255, 255, 255);
  padding-left: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
}
.search-field__input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}


@media screen and (min-width: 320px) and (max-width: 430px) {
  .search-field__input {
    width: 288px;
    height: 56px;
    margin-bottom: 16px;
    margin-top: 64px;
  }
}